logging:
  level:
    root: INFO

spring:
  application:
    name: global-config

management:
  endpoints:
    web:
      exposure:
        include: "*"

mqtt:
  broker-url: mqtt://localhost:1883

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka